@import 'tailwindcss';

@theme {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey-500: #626c7f;
	--color-grey-50: #f4f6fa;

	--color-blue-950: #2d3949;
	--color-blue-900: #313e51;
	--color-blue-850: #3b4d66;
	--color-blue-500: #306aff;
	--color-blue-300: #abc1e1;
	--color-blue-100: #edf1f9;
	--color-blue-50: #ebf0ff;

	--color-green-500: #2fd887;
	--color-green-100: #e0fdef;
	--color-purple-600: #a729f5;
	--color-purple-100: #f6e7ff;
	--color-orange-400: #ff7e35;
	--color-orange-50: #fff5ed;
	--color-red-500: #ee5454;
}

@utility text-preset-1 {
	font-weight: 500;
	font-size: 144px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-1-mobile {
	font-weight: 500;
	font-size: 88px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-2 {
	font-weight: 500;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-2-mobile {
	font-weight: 500;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-2-light {
	font-weight: 300;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-2-light-mobile {
	font-weight: 300;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-3 {
	font-weight: 500;
	font-size: 36px;
	line-height: 120%;
	letter-spacing: 0px;
}

@utility text-preset-3-mobile {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0px;
}

@utility text-preset-4 {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-4-mobile {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-5 {
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0px;
}

@utility text-preset-5-mobile {
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0px;
}

@utility text-preset-5-regular {
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0px;
}

@utility text-preset-6 {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0px;
}

body,
button,
input,
select,
textarea {
	font-family: 'Rubik', sans-serif;
}
