@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey-500: #626c7f;
	--color-grey-50: #f4f6fa;

	--color-blue-950: #2d3949;
	--color-blue-900: #313e51;
	--color-blue-850: #3b4d66;
	--color-blue-500: #306aff;
	--color-blue-300: #abc1e1;
	--color-blue-100: #edf1f9;
	--color-blue-50: #ebf0ff;

	--color-green-500: #2fd887;
	--color-green-100: #e0fdef;
	--color-purple-600: #a729f5;
	--color-purple-100: #f6e7ff;
	--color-orange-400: #ff7e35;
	--color-orange-50: #fff5ed;
	--color-red-500: #ee5454;

	--color-html: var(--color-orange-50);
	--color-css: var(--color-green-100);
	--color-javascript: var(--color-blue-50);
	--color-accessibility: var(--color-purple-100);

	--color-shadow: #8fa0c1;
}

@utility text-preset-1 {
	font-weight: 500;
	font-size: 144px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-1-mobile {
	font-weight: 500;
	font-size: 88px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-2 {
	font-weight: 500;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-2-mobile {
	font-weight: 500;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-2-light {
	font-weight: 300;
	font-size: 64px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-2-light-mobile {
	font-weight: 300;
	font-size: 40px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-3 {
	font-weight: 500;
	font-size: 36px;
	line-height: 120%;
	letter-spacing: 0px;
}

@utility text-preset-3-mobile {
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0px;
}

@utility text-preset-4 {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-4-mobile {
	font-weight: 500;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0px;
}

@utility text-preset-5 {
	font-weight: 500;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0px;
}

@utility text-preset-5-mobile {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 0px;
	font-style: italic;
}

@utility text-preset-5-regular {
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	letter-spacing: 0px;
}

@utility text-preset-6 {
	font-size: 20px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0px;
	font-style: italic;
}

* {
	outline: 1px solid transparent;
}

body,
button,
input,
select,
textarea {
	font-family: 'Rubik', sans-serif;
}

@utility custom-shadow-light {
	box-shadow: 0px 16px 40px 0 rgba(143, 160, 193, 0.14);
}

@utility custom-shadow-dark {
	box-shadow: 0px 16px 40px 0 rgba(49, 62, 81, 0.14);
}

@utility custom-background-image {
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100% 100%;
}

@utility background-light-desktop {
	@apply custom-background-image;
	background-image: url('./assets/pattern-background-desktop-light.svg');
}

@utility background-light-tablet {
	@apply custom-background-image;
	background-image: url('./assets/pattern-background-tablet-light.svg');
}

@utility background-light-mobile {
	@apply custom-background-image;
	background-image: url('./assets/pattern-background-mobile-light.svg');
}

@utility background-dark-desktop {
	@apply custom-background-image;
	background-image: url('./assets/pattern-background-desktop-dark.svg');
}

@utility background-dark-tablet {
	@apply custom-background-image;
	background-image: url('./assets/pattern-background-tablet-dark.svg');
}

@utility background-dark-mobile {
	@apply custom-background-image;
	background-image: url('./assets/pattern-background-mobile-dark.svg');
}
